{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>کلید سازی جوان</title>
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" >,
    <style>
        html{
            font-family: Vazirmatn,sans-serif;
        }
    </style>
</head>
<body>
<div style="display: flex;justify-content: center;align-items: center;flex-direction: column;padding: 50px">
    <img src="{% static 'sad.png' %}" alt="not found" style="width: 15%">
    <h4>یافت نشد</h4>

</div>
</body>
</html>